<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="posts/layout/basic">
    <th:block layout:fragment="title">
        <title>This page is a write page</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="card-content">
            <form class="form-horizontal" th:action="@{/posts/register}" th:object="${post}" method="post" onsubmit="return registerPost(this)">
                <!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
                <input type="hidden" th:if="*{id != null and id > 0}" th:field="*{id}" />

                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">제목</label>
                    <div class="col-sm-10">
                        <input id="title" type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력해 주세요." />
                    </div>
                </div>

                <div class="form-group">
                    <label for="user" class="col-sm-2 control-label">이름</label>
                    <div class="col-sm-10">
                        <input id="user" type="text" th:field="*{user}" class="form-control" placeholder="이름을 입력해 주세요." />
                    </div>
                </div>

                <div class="form-group">
                    <label for="category" class="col-sm-2 control-label">카테고리</label>
                    <div class="col-sm-10">
                        <input id="category" type="text" th:field="*{category}" class="form-control" placeholder="이름을 입력해 주세요." />
                    </div>
                </div>

                <div class="form-group">
                    <label for="status" class="col-sm-2 control-label">모집상태</label>
                    <div class="col-sm-10">
                        <input id="status" type="text" th:field="*{status}" class="form-control" placeholder="모집 상태를 입력해 주세요." />
                    </div>
                </div>

                <div class="form-group">
                    <label for="period" class="col-sm-2 control-label">기간</label>
                    <div class="col-sm-10">
                        <input id="period" type="text" th:field="*{period}" class="form-control" placeholder="기간을 입력해 주세요." />
                    </div>
                </div>

                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">내용</label>
                    <div class="col-sm-10">
                        <textarea id="content" th:field="*{content}" class="form-control" placeholder="내용을 입력해 주세요."></textarea>
                    </div>
                </div>

                <div class="btn_wrap text-center">
                    <a th:href="@{/posts/list}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">저장하기</button>
                </div>
            </form>
        </div>
        <!-- /.card-content -->
    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/

            function registerPost(form) {

                var result = (
                    isValid(form.title, "제목", null, null)
                    && isValid(form.writer, "이름", null, null)
                    && isValid(form.content, "내용", null, null)
                );

                if ( result == false ) {
                    return false;
                }
            }
            /*[- end of function -]*/

            /*]]>*/
        </script>
    </th:block>
</html>